@import "tailwindcss";
@plugin "daisyui" {
  themes: dracula --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #802044;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(97% 0 0);
  --color-secondary-content: oklch(70% 0.01 56.259);
  --color-accent: oklch(55% 0.288 302.321);
  --color-accent-content: oklch(70% 0.01 56.259);
  --color-neutral: #802044;
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: #2563EB;
  --color-info-content: oklch(98% 0 0);
  --color-success: #22C55E;
  --color-success-content: oklch(98% 0 0);
  --color-warning: #D97706;
  --color-warning-content: oklch(98% 0 0);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
